<nav id="styleguideSidebar" class="sidebar sidebar--hidden">
    <div class="sidebar__header">
        <div class="sidebar__header-title">Menu</div>
    </div>
    <ul id="rootSidebar" data-kss-ref="styleguide.homepage">
        <li class="sidebar__item" id="section-gettingStarted">
            <a href="home">Home</a>
        </li>
        <li class="sidebar__item" id="section-settings">
            <a href="settings">APIC and ISE Settings</a>
        </li>
        <li class="sidebar__item" id="section-network-devices">
            <a href="netdevice">Add Devices to ISE</a>
        </li>
        <li class="sidebar__item" id="section-mac-association">
            <a href="macass">MAC Association</a>
        </li>

        <!---
        <li class="sidebar__item" id="section-ise_endpoint_group">
            <a href="iseendpoint">ISE - Create Endpoint Group</a>
        </li>
        <li class="sidebar__item" id="section-ise_authorization_profile">
            <a href="iseauth">ISE - Create Authorization Profile</a>
        </li>
        ---->
    </ul>
</nav>