<div class="hero hero--indigo hero--compressed">
    <div class="hero__content">
        <div class="container center-xs">
            <div class="row">
                <div class="col-md-8 col-xl-10">
                    <div class="flex-fluid">
                        <h1>APIC and ISE Portal</h1>
                        <p class="text-large">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="panel panel--loose panel--bordered">
            <div class="row">
                <div class="col-md-12 text-large">
                    <h1 class="text-huge text-blue base-margin-bottom">Metrics</h1>
                </div>

                <div class="col-md-4 text-center">
                    <h4>ISE</h4>
                    <br/>
                    <span class="label label--circle label--goliath label--success">{a iseurl a}</span>
                </div>
                <div class="col-md-4 text-center">
                    <h4>APIC</h4>
                    <br/>
                    <span class="label label--circle label--goliath label--success">{a apicurl a}</span>

                </div>
            </div>
        </div>
    </div>
</div>
